.logo a{
    font-weight: 700;
    font-size: 20px;
    border: 2px solid #f26b50;
    background: #f26b50;
    padding: 5px 10px;
    color: #ffff;
}

.menu{
    display: flex;
    gap: 30px;
}

.menu a{
    color: #c2c2c2;
    font-weight: 500;
    border-bottom: 1px solid transparent;
    transition: all .3s ease;
}

.menu a:hover{
    border-bottom-color: #f26b50;
    color: #f26b50;
}

/* HOME */
#home,
#about,
#services{
    padding-top: 90px;
    display: flex;
}

#home #me{
    margin-top: 20px;
    height: 400px;
    width: 400px;
}
#home #me img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#home h1{
    font-size: 76px;
}

#home > div:first-child{
    width: 60%
}
#home > div:last-child{
    width: 40%
}
#home p.typewritter{
    position: relative;
    margin-bottom: 30px;
}
#home p.typewritter::after{
    content: "";
    height: 3px;
    width: 50%;
    background-color: #f26b50;
    position: absolute;
    top: 50%;
    right: 0;
}

#home p.typewritter .Typewriter__wrapper{
    color: #f26b50;
    font-size: 18px
}
#home .intro p{
    text-align: justify;
    display: flex;
    align-items: center;
    gap: 10px;
}
#home .intro div{
    margin-top: 30px;
}

#home .intro div a{
    color: #f26b50;
}

/* About */
#about{
    align-items: center;
}

#about .information > p{
    color: #a5a5a5;
}
#about .information > p:first-child{
    margin: 30px 0;
}
#about .information > p strong{
    color: #fff;
    font-size: 20px;
}

#about ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 40px
}

#about ul li{
    display: flex;
    align-items: center;
    gap: 5px;
}

#about ul li strong{
    color: #f26b50;
    font-size: 44px;
}

/* Services */

#services{
    flex-direction: column;
}

.whatOffer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    height: 100%;
}

.whatOffer .box{
    background: #131313;
    height: 300px;
    width: 400px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 35px;
}

.whatOffer .box .box--head{
    text-align: center;
}

.whatOffer .box .box--head h3{
    font-size: 25px;
    margin-bottom: 15px;
}

.whatOffer .box .box--body{
    text-align: center;
    color: #a5a5a5;
    font-size: 14px;
}